.titulo1{
    background-color: rgb(120, 120, 196);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}
.titulo2{
    font-family: 'Secular One', sans-serif;
}
}
.titulo3{
    font-family: 'Roboto Mono', monospace;
}
body{
    background-image: url(https://media.tenor.com/_yFLs1OWgBAAAAAC/vinyl-disc-dance-music.gif);
    background-repeat: no-repeat;
    background-position: right;
}
.contenedor{
    display: flex;
    justify-content: center;
}
